body {
  background-color: grey;
}
.div1 {
  background-color: yellow;
  width: 120px;
  text-align: right;
  font-size: 12px;
}
.div2 {
  background-color: aqua;
  width: 240px;
  text-align: 14px;
}
.div3 {
  background-color: orange !important;
  width: 60px;
  text-align: center;
  font-size: 10px;
}
.div3 {
  background-color: yellow;
}
