//Definicion de variables
@color1: yellow * 20;
@color2: aqua;
@color3: grey;
@divSize: 120px;
//@divSize2: 240px;
//@divSize3: 60px;
@divTextAlignCenter: center;
@divTextAlignRight: right;
@divFontSize: 12px;
//@divFontSize2: 14px;

body {
   background-color: @color3;
}

.div1 {
   background-color: @color1;
   width: @divSize;
   text-align: @divTextAlignRight;
   font-size: @divFontSize;
}

.div2 {
   background-color: @color2;
   width: @divSize * 2;
   text-align: @divFontSize;
}

.div3 {
   background-color: @color1;
   width: @divSize * 3;
   text-align: @divTextAlignCenter;
   font-size: @divFontSize + 10;
}