body {
  background-color: grey;
}
.div1 {
  background-color: #ffff00;
  width: 120px;
  text-align: right;
  font-size: 12px;
}
.div2 {
  background-color: aqua;
  width: 240px;
  text-align: 12px;
}
.div3 {
  background-color: #ffff00;
  width: 360px;
  text-align: center;
  font-size: 22px;
}
