body {
  background-color: grey;
}

.div1 {
  background-color: black;
  width: 120px;
  text-align: right;
  font-size: 12px;
}

.div2 {
  background-color: aqua;
  width: 240px;
  text-align: 12px;
}

.div3 {
  background-color: black;
  width: 60px;
  text-align: center;
  font-size: 14px;
}
