body {
   background-color: $color3;
}

p {
   @include pStyle;
}

.div1 {
   background-color: $color1;
   width: $divSize;
   text-align: $divTextAlignRight;
   font-size: $divFontSize;
}

.div2 {
   background-color: $color2;
   width: $divSize * 2;
   text-align: $divFontSize + 2;
}

.div2>p {
   @include pVariableStyle(red);
}

.div3 {
   background-color: $color1;
   width: $divSize / 2;
   text-align: $divTextAlignCenter;
   font-size: $divFontSize - 2;
}

.div3>p {
   @include pVariableStyle(orange, 10px);
}

.div4>p {
   @extend p;
   width: $divSize / 2;
   border-radius: 50%;
   text-align: $divTextAlignCenter;
   font-style: oblique;
}