.pStyle() {
    font-weight: @fontWeight;
    border: 1px solid blue;
    font-style: italic;
}

.pVariableStyle(@borderColor, @borderSize : 1px) {
    font-weight: @fontWeight;
    border: @borderSize solid @borderColor;
    font-style: italic;
}