body {
  background-color: grey;
}
p,
.div4 > p {
  font-weight: bold;
  border: 1px solid blue;
  font-style: italic;
}
.div1 {
  background-color: yellow;
  width: 120px;
  text-align: right;
  font-size: 12px;
}
.div2 {
  background-color: aqua;
  width: 240px;
  text-align: 14px;
}
.div2 > p {
  font-weight: bold;
  border: 1px solid red;
  font-style: italic;
}
.div3 {
  background-color: yellow;
  width: 60px;
  text-align: center;
  font-size: 10px;
}
.div3 > p {
  font-weight: bold;
  border: 10px solid orange;
  font-style: italic;
}
.div4 > p {
  width: 60px;
  border-radius: 50%;
  text-align: center;
  font-style: oblique;
}
